src/META-INF/wsdl/blueharvestgeo.com/WebServices/GeocacheService.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://blueharvestgeo.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://blueharvestgeo.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://blueharvestgeo.com/webservices/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="InsertGeocacheWithLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="g" type="tns:Geocache" />
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Geocache">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="anniversary" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="difficulty" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="terrain" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="size" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="userid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="locationid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="logbookid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertGeocacheWithLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertGeocacheWithLocationResult" nillable="true" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceCredentials" type="tns:ServiceCredentials" />
      <s:complexType name="ServiceCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertGeocacheWithLocationSoapIn">
    <wsdl:part name="parameters" element="tns:InsertGeocacheWithLocation" />
  </wsdl:message>
  <wsdl:message name="InsertGeocacheWithLocationSoapOut">
    <wsdl:part name="parameters" element="tns:InsertGeocacheWithLocationResponse" />
  </wsdl:message>
  <wsdl:message name="InsertGeocacheWithLocationServiceCredentials">
    <wsdl:part name="ServiceCredentials" element="tns:ServiceCredentials" />
  </wsdl:message>
  <wsdl:portType name="GeocacheServiceSoap">
    <wsdl:operation name="InsertGeocacheWithLocation">
      <wsdl:input message="tns:InsertGeocacheWithLocationSoapIn" />
      <wsdl:output message="tns:InsertGeocacheWithLocationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeocacheServiceSoap" type="tns:GeocacheServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertGeocacheWithLocation">
      <soap:operation soapAction="http://blueharvestgeo.com/webservices/InsertGeocacheWithLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertGeocacheWithLocationServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeocacheServiceSoap12" type="tns:GeocacheServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertGeocacheWithLocation">
      <soap12:operation soapAction="http://blueharvestgeo.com/webservices/InsertGeocacheWithLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertGeocacheWithLocationServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeocacheService">
    <wsdl:port name="GeocacheServiceSoap" binding="tns:GeocacheServiceSoap">
      <soap:address location="https://blueharvestgeo.com/WebServices/GeocacheService.asmx" />
    </wsdl:port>
    <wsdl:port name="GeocacheServiceSoap12" binding="tns:GeocacheServiceSoap12">
      <soap12:address location="https://blueharvestgeo.com/WebServices/GeocacheService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>