xml-resources/web-service-references/DatabaseService/wsdl/blueharvestgeo.com/WebServices/DatabaseService.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://blueharvestgeo.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://blueharvestgeo.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://blueharvestgeo.com/webservices/">
      <s:element name="DeleteAll">
        <s:complexType />
      </s:element>
      <s:element name="DeleteAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteAllResult" nillable="true" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceCredentials" type="tns:ServiceCredentials" />
      <s:complexType name="ServiceCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeleteAllSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAll" />
  </wsdl:message>
  <wsdl:message name="DeleteAllSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAllResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAllServiceCredentials">
    <wsdl:part name="ServiceCredentials" element="tns:ServiceCredentials" />
  </wsdl:message>
  <wsdl:portType name="DatabaseServiceSoap">
    <wsdl:operation name="DeleteAll">
      <wsdl:input message="tns:DeleteAllSoapIn" />
      <wsdl:output message="tns:DeleteAllSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DatabaseServiceSoap" type="tns:DatabaseServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteAll">
      <soap:operation soapAction="http://blueharvestgeo.com/webservices/DeleteAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteAllServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatabaseServiceSoap12" type="tns:DatabaseServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteAll">
      <soap12:operation soapAction="http://blueharvestgeo.com/webservices/DeleteAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteAllServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseService">
    <wsdl:port name="DatabaseServiceSoap" binding="tns:DatabaseServiceSoap">
      <soap:address location="https://blueharvestgeo.com/WebServices/DatabaseService.asmx" />
    </wsdl:port>
    <wsdl:port name="DatabaseServiceSoap12" binding="tns:DatabaseServiceSoap12">
      <soap12:address location="https://blueharvestgeo.com/WebServices/DatabaseService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>