xml-resources/web-service-references/ImageService/wsdl/blueharvestgeo.com/WebServices/ImageService.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://blueharvestgeo.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://blueharvestgeo.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://blueharvestgeo.com/webservices/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageResult" type="tns:Image" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Image">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="uri" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="caption" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServiceCredentials" type="tns:ServiceCredentials" />
      <s:complexType name="ServiceCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="InsertImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="i" type="tns:Image" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertImageResult" nillable="true" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="i" type="tns:Image" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateImageResult" nillable="true" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteImageResult" nillable="true" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="GetImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageServiceCredentials">
    <wsdl:part name="ServiceCredentials" element="tns:ServiceCredentials" />
  </wsdl:message>
  <wsdl:message name="InsertImageSoapIn">
    <wsdl:part name="parameters" element="tns:InsertImage" />
  </wsdl:message>
  <wsdl:message name="InsertImageSoapOut">
    <wsdl:part name="parameters" element="tns:InsertImageResponse" />
  </wsdl:message>
  <wsdl:message name="InsertImageServiceCredentials">
    <wsdl:part name="ServiceCredentials" element="tns:ServiceCredentials" />
  </wsdl:message>
  <wsdl:message name="UpdateImageSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateImage" />
  </wsdl:message>
  <wsdl:message name="UpdateImageSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateImageResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateImageServiceCredentials">
    <wsdl:part name="ServiceCredentials" element="tns:ServiceCredentials" />
  </wsdl:message>
  <wsdl:message name="DeleteImageSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteImage" />
  </wsdl:message>
  <wsdl:message name="DeleteImageSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteImageResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteImageServiceCredentials">
    <wsdl:part name="ServiceCredentials" element="tns:ServiceCredentials" />
  </wsdl:message>
  <wsdl:portType name="ImageServiceSoap">
    <wsdl:operation name="GetImage">
      <wsdl:input message="tns:GetImageSoapIn" />
      <wsdl:output message="tns:GetImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertImage">
      <wsdl:input message="tns:InsertImageSoapIn" />
      <wsdl:output message="tns:InsertImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateImage">
      <wsdl:input message="tns:UpdateImageSoapIn" />
      <wsdl:output message="tns:UpdateImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <wsdl:input message="tns:DeleteImageSoapIn" />
      <wsdl:output message="tns:DeleteImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImageServiceSoap" type="tns:ImageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://blueharvestgeo.com/webservices/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetImageServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertImage">
      <soap:operation soapAction="http://blueharvestgeo.com/webservices/InsertImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertImageServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateImage">
      <soap:operation soapAction="http://blueharvestgeo.com/webservices/UpdateImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateImageServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap:operation soapAction="http://blueharvestgeo.com/webservices/DeleteImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteImageServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImageServiceSoap12" type="tns:ImageServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetImage">
      <soap12:operation soapAction="http://blueharvestgeo.com/webservices/GetImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetImageServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertImage">
      <soap12:operation soapAction="http://blueharvestgeo.com/webservices/InsertImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertImageServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateImage">
      <soap12:operation soapAction="http://blueharvestgeo.com/webservices/UpdateImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateImageServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap12:operation soapAction="http://blueharvestgeo.com/webservices/DeleteImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteImageServiceCredentials" part="ServiceCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageService">
    <wsdl:port name="ImageServiceSoap" binding="tns:ImageServiceSoap">
      <soap:address location="https://blueharvestgeo.com/WebServices/ImageService.asmx" />
    </wsdl:port>
    <wsdl:port name="ImageServiceSoap12" binding="tns:ImageServiceSoap12">
      <soap12:address location="https://blueharvestgeo.com/WebServices/ImageService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>